---
import { getCollection } from "astro:content";
import MainLayout from '@layouts/MainLayout.astro';
import Hero from '@components/Hero.astro';
import Container from '@components/Container.astro';
import SlideIn from '@components/SlideIn.astro';
import WorkItem from '@components/WorkItem.astro';
import Typography from '@components/Typography/index.astro'

const allProjects = await getCollection("projects")
const featuredProjects = allProjects.filter(project => project.data.featured === true);
---

<MainLayout>
		<Hero />

		<Container class="mb-12 lg:mb-24">
			<div class="mx-auto">
					<Typography as="h2" size="small">A little about me</h2>
					<Typography as="h1" size="xlarge" class="max-w-2xl mt-0">I’m a product designer who loves to code and mentor.</Typography>
					<Typography as="p" size="base" class="max-w-2xl mt-5">Over the past 10+ years, I've transformed complex problems into engaging consumer websites and apps. Fostering collaboration, and sharing knowledge along the way.</p>
				</div>
			</div>
		</Container>

		<Container class="py-12">
			<Typography as="h2" size="small" class="py-1 lg:py-2 border-b">Selected projects</Typography>
			{
				featuredProjects.map((entry) => {
					const{id, company, project, headline} = entry.data
					return (
						<WorkItem 
							slug={id}
							company={company}
							project={project}
							headline={headline}
							key={id}
						/>
					)
				})
			}
		</Container>
</MainLayout>
