---
import Typography from '@components/Typography.jsx';
import Container from '@components/Container.astro';
import placeholder from '@assets/placeholder.svg?raw';

const {
    id,
    eyebrow,
    headline,
    company,
    project,
    image
} = Astro.props;
---

<div class={`flex flex-col md:flex-row items-center gap-8 pb-12 lg:pb-24`} transition:name={`hero-${id}`}>
    <div class="flex-1"  transition:name={`herocontent-${id}`}>
        {eyebrow && <Typography client:load as="p" size="xsmall" className="mb-3 lg:mb-8 text-stone-400" transition:name={`eyebrow-${id}`}>{eyebrow}</Typography> }
        <Typography client:load as="h3" size="xlarge" className="mb-2 lg:mb-8" transition:name={`headline-${id}`}>{headline}</Typography>
        <Typography client:load as="p" size="small" className="font-medium" transition:name={`companyproject-${id}`}>{company}<span class="font-extralight text-xs text-stone-400"> &bull; </span>{project}</Typography>
    </div>

    <div class="flex-1 mt-0 rounded-xl lg:rounded-l-xl lg:rounded-r-none overflow-hidden" transition:name={`heroImage-${id}`}>
        {image ?
            <Fragment set:html={placeholder}/>
            :
            <Fragment set:html={placeholder}/>
        }   
    </div>
</div>


