---
import Typography from '@components/Typography/index.astro'
import placeholder from '@assets/placeholder.svg?raw';

const { slug, headline, company, project, description, image} = Astro.props;
---

<article class="pt-12 pb-8">
    <a href={`/projects/${slug}`} class="group">
        <div class="flex-1 w-full">
            <Typography as="p" size="xsmall" class="mb-5 text-stone-500  group-hover:-translate-y-2 transition-transform  delay-100" transition:name={`eyebrow-${slug}`}>{company} <span class="text-stone-400 font-light">&bull;</span> {project}</Typography>
            <Typography as="h3" size="xlarge" class="mb-8  group-hover:-translate-y-2 transition-transform" transition:name={`headline-${slug}`}>{headline}</Typography>
        </div>
        
        <div class="group-hover:rounded-xl  group-hover:scale-105 transition-transform flex-1 lg:mt-0 rounded-md overflow-hidden" transition:name={`heroImage-${slug}`}>
            {image ?
                <Fragment set:html={placeholder}/>
                :
                <Fragment set:html={placeholder}/>
            }   
        </div>
    </a>
</article>