---
import { getCollection } from 'astro:content';
import MainLayout from '@layouts/MainLayout.astro';
import Container from '@components/Container.astro';
import ProjectHero from '@components/ProjectHero.astro';
import Typography from '@components/Typography/index.astro';

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');
  return projectEntries.map(entry => ({
    params: { slug: entry.data.id }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const {id, company, project, headline, eyebrow} = entry.data
---

<MainLayout>
    <!-- <Container class="group project_hero"> -->
      <div class="project_hero">
        <ProjectHero 
          transition:name={`projecthero-${id}`}
          id={id}
          eyebrow={eyebrow}
          company={company}
          project={project}
          headline={headline}
        />
      </div>
    <!-- </Container> -->

    <Container class="mt-12">
      <Content />
    </Container>
</MainLayout>