---
import { getCollection } from 'astro:content';
import MainLayout from '@layouts/MainLayout.astro';
import Container from '@components/Container.astro';
import Typography from '@components/Typography/index.astro';
import placeholder from '@assets/placeholder.svg?raw';

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');
  return projectEntries.map(entry => ({
    params: { slug: entry.data.id }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const {id, company, project, headline} = entry.data
---

<MainLayout>
    <Container>
      <Typography as="p" size="xsmall" class="mb-5 text-stone-500" transition:name={`eyebrow-${id}`}>{company} <span class="text-stone-400 font-light">&bull;</span> {project}</Typography>
      <Typography as="h1" size="xlarge" class="mb-8" transition:name={`headline-${id}`}>{headline}</Typography>
        <div class="flex-1 lg:mt-0 overflow-hidden lg:-mx-24 rounded-3xl" transition:name={`heroImage-${id}`}>
            <Fragment set:html={placeholder}/>
        </div>
    </Container>

    <Container class="mt-12">
      <Content />
    </Container>
</MainLayout>