---
import { getCollection } from "astro:content";
import MainLayout from '@layouts/MainLayout.astro';
import Container from '@components/Container.astro';
import ProjectLink from '@components/ProjectLink.astro';

const allProjects = await getCollection("projects");
---

<MainLayout>
    <Container>
        <p class="mb-2 font-semibold tracking block text-6xl lg:text-8xl leading-none tracking-tight text-stone-300 md:text-center">All projects.</span>
        </p>
    </Container>
    <Container>
            {
            allProjects.map((entry) => {
                const{id, company, project, headline, eyebrow} = entry.data
                return (
                    <article class="pt-12 lg:pt-24 border-b">
                        <a href={`/projects/${id}`} class="group/link">
                            <ProjectLink
                                transition:name={`link-${id}`}
                                id={id}
                                eyebrow={eyebrow}
                                company={company}
                                project={project}
                                headline={headline}
                                key={id}
                            />
                        </a>
                    </article>
                )
                })
            }
    </Container>
</MainLayout>