---
import { getCollection } from "astro:content";
import MainLayout from '@layouts/MainLayout.astro';
import Container from '@components/Container.astro';
import WorkItem from '@components/WorkItem.astro';

const allProjects = await getCollection("projects");
---

<MainLayout>
    <Container>
        <p class="mb-2 font-semibold tracking block text-6xl lg:text-8xl leading-none tracking-tight text-stone-300">Projects.</span>
        </p>
    </Container>
    <Container>
            {
            allProjects.map((entry) => {
                const{id, company, project, headline} = entry.data
                return (
                    <WorkItem
                        slug={id}
                        company={company}
                        project={project}
                        headline={headline}
                        key={id}
                    />
                )
                })
            }
    </Container>
</MainLayout>